<% if signed_in? %>
  <%= link_to '同期', evernote_sync_path %>
<% end %>

<table>
  <tr>
    <th>タイトル</th>
    <th>最終更新時刻</th>
  </tr>

  <% @notes.each do |note| %>
    <tr>
      <td><%= link_to note.title, note %></td>
      <td><%= note.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
    </tr>
  <% end %>
</table>
