.row-fluid
  .span6.offset3
    = form_tag settings_path do
      = label_tag :notebook_name, "連携Notebook名"
      = text_field_tag :notebook_name, (current_user.notebook_name || "Blog"), class: 'span3'
      br /
      = submit_tag "更新", class: 'btn'
    a.btn href="#adapter-livedoor" data-toggle="modal" Launch demo modal


#adapter-livedoor.modal.hide
  .modal-header
    button.close type="button" data-dismiss="modal" aria-hidden="true" &times;
    h3 Livedoorブログ設定
  .modal-body
    = form_tag settings_adapters_path do
      = text_field_tag :id, "", placeholder: "Livedoor ID"
      = text_field_tag :api_key, "", placeholder: "API KEY"
      br /
      = submit_tag '設定', class: 'btn'

    p API KEYはライブドアブログ管理画面のブログ設定 > その他 > API Keyから新規取得できます. 詳しくは以下のリンクを参照して下さい.
    = link_to "Atom Pub APIについて - livedoor ブログ ヘルプセンター", "http://help.blogpark.jp/archives/52288925.html"

